anyio==3.6.1
attrs==21.4.0
certifi==2022.5.18.1
charset-normalizer==2.0.12
fastapi==0.78.0
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
jose==1.0.0
packaging==21.3
passlib==1.7.4
pluggy==1.0.0
psycopg2-binary==2.9.3
py==1.11.0
pydantic==1.9.1
pyparsing==3.0.9
pytest==7.1.2
python-decouple==3.6
python_jose==3.3.0
requests==2.27.1
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.4.36
SQLAlchemy-Utils==0.38.2
sqlalchemy2-stubs==0.0.2a22
sqlmodel==0.0.6
starlette==0.19.1
tomli==2.0.1
typing_extensions==4.2.0
urllib3==1.26.9
